/* textarea {
  width: 100%;
}
input[type="submit"] {
  /* 선택자 submit*/
/* margin-top: 10px; */
/* } */

.jumbotron {
  background-image: url("https://source.unsplash.com/random");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
}

.avarta-sm {
  width: 20px;
}
